body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 249, 244);
}
.content{
    width: 40%;
    margin: 0 auto;
    font-size: x-large;
}
canvas{
    display: block;
    box-sizing: border-box;
    height: 85px;
    width: 171px;
    max-width: 100%; 
    background-color: rgb(227, 236, 225);  
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkolivegreen;
    text-align: center;
    margin-bottom: 2rem;
}